<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">
    <property name="PROJECT_NAME" value="test_logback_appender_app"/>
    <contextName>${PROJECT_NAME}</contextName>
    <appender name="CustomAppender" class="com.github.dadiyang.appender.LogbackAppender">
        <appName>${PROJECT_NAME}</appName>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="CustomAppender"/>
    </root>
</configuration>